main {
	height: 270px !important;
}

.mdl-layout {
	align-items: center;
  align-content: center;
}

.mdl-layout__content {
	width: 100%;
	height: 100%;
}

.mdl-card {
	position: absolute !important;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -250px;
	width: 500px !important;
}

.mdl-card__title {
	background-color: #505b72 !important;
	height: 100px;
}

.mdl-card__supporting-text {
	margin: 0 auto;
	width: 93% !important;
}

form {
	padding-bottom: 10px;
}

.form-button {
  float: right;
	margin: 0 3px !important;
}

.form-button[disabled] {
	cursor: not-allowed !important;
	color: rgba(0, 0, 0, 0.25) !important;
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.mdl-textfield {
	width: 100% !important;
}

.mdl-textfield__label:after {
	background-color: #505b72 !important;
}

.mdl-button--raised {
	background-color: #505b72 !important;
}

.layout-transparent {
  background: image-url('login-bg.png') repeat;
}
