<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
	<div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">

		<!-- sidemenu -->
		<md-button class="md-icon-button" ng-click="openMenu()" hide-gt-sm aria-label="Toggle Menu">
			<i class="material-icons">dehaze</i>
		</md-button>

		<!-- pagination -->
		<div layout="row" flex class="fill-height">
			<span class="folderLink" ng-repeat="folder in pagination">
				<a href="#" ng-click="changeFolder($index)">{{ folder.name }}</a>
				<span ng-hide="$index === pagination.length - 1">></span>
			</span>
		</div>
	</div>
</md-toolbar>
