.site-content-toolbar {
    background: #f6f6f6 !important;
    color: #202020 !important;
    z-index: 3;
}

.item-selector-icon {
  padding-top: 25px;
  padding-left: 25px;
}

.item-size {
  padding: 3px;
}

.item-icon {
  opacity: 0.7;
  margin-right: 5px;
}

.site-content-toolbar {
    background: #f6f6f6 !important;
    color: #666 !important;
    z-index: 3;
}
.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
