.page-container {
  padding: 32px;
}

.page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal;
}

.page p {
  line-height: 1.6rem;
}

.page-container {
  padding: 32px;
}

.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
  z-index: 3;
}

.item-selector-icon {
  padding-top: 19px;
  padding-left: 25px;
}

.item-size {
  padding: 3px;
}

.item-icon {
  opacity: 0.7;
  margin-right: 5px;
}

.layout-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.docs-body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.text-doc{
  max-height: 50px;
}

.item-icon-doc{
  padding-right: 5px;
  color: rgb(16,108,200);
}

.resize-toolbar{
  max-height: 25px;
}

.resize-subheader{
  max-height: 90px;
}

.select-fix {
  margin-top: 10px;
}

.site-content-toolbar {
    background: #f6f6f6 !important;
    color: #666 !important;
    z-index: 3;
}
.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.md-fab:hover, .md-fab.md-focused {
  background-color: rgb(63,81,181);
}

.lock-size {
  float: right;
}
