table {
    border-collapse: collapse;
}

.linha-table {
  height: 60px;
}

.header-table {
  background-color: #f5f5f5;
  height: 50px;
}

.column-1 {
  width: 85%;
}

.column-2 {
  width: 100%;
  text-align: center;
}

.text-header {
  font-weight: normal;
}

.file-icon {
  padding: 5px;
}

th, td {
    font-size: 13px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-hover :hover {
  background-color: #f5f5f5
}
