<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
      <navbar></navbar>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div id="header" class="mdl-layout__header-row" ng-hide="true">
        <a href="#" id="menutoggle" class="menutoggle">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <drive></drive>
    </div>
  </main>
</div>
