// compileCompressed: theme.min.css

.form-group
    position: relative

    .inputbar
        border: 0
        border-radius: 3px
        font-size: 12px
        height: 16px
        padding: 10px 12px

        &.inputbar-dark
            color: #bdc3d1
            background-color: #3b4354

        &:focus
            outline: 0

    .search-icon
        position: absolute
        right: 8px
        top: 9px
        color: lightgray

        i
            font-size: 18px
