body {
  background-color: #eeeeee;
}

#header {
  background-color: #262b36;
  color: #bdc3d1;
  height: 64px;
}

#header .material-icons {
  color: #bdc3d1;
}

.mdl-grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mdl-button.active {
  box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
  background-color:rgba(158,158,158,.4)
}

.mdl-blank-page {
  height: 100%;
  margin-top: 30px;
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
}

.mdl-text__area {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  box-sizing: border-box;
  outline: none;
}

.mdl-button__footer {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.pagination-item {
  font-size: 16px;
  padding: 5px 8px;
}

input {
  border-bottom-color: rgba(255, 255, 255, 0.25) !important;
}
