<div class="mdl-grid">
    <div class="mdl-color--white mdl-shadow--4dp mdl-blank-page">
        <div class="mdl-editor mdl-text__area">
            <h2></h2>
            <p></p>
        </div>
    </div>
</div>
</div>
<!-- Botão de Salvar -->
<div class="mdl-button__footer">
<button href="" class="mdl-button mdl-button--fab">
  <i class="material-icons">save</i>
</button>
</div>
