<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Scribe - Online Text Editor</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">

  </head>

<body class="docs-body" layout="row" ng-cloak ng-controller="AppCtrl">

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print
                md-is-locked-open="$mdMedia('gt-sm')">

    <header class="nav-header">
      <a ng-href="#" class="docs-logo">
        <h1 class="docs-logotype md-heading">Scribe</h1>
      </a>
    </header>

    <md-content flex role="navigation">
      <md-list ng-controller="ListCtrl" ng-cloak>
        <md-divider></md-divider>
            <md-subheader class="md-no-sticky min-size-header">
              <div layout="row" layout-wrap>
                <div flex="80">
                  <md-select placeholder="Selecionar pasta" name="folder" ng-model="folder">
                    <md-option ng-value="folder" ng-repeat="folder in mainFolders">{{folder.name}}</md-option>
                  </md-select>
                </div>
              <div flex="19" class="item-selector-icon">
                <i class="material-icons" flex="30">folder</i>
              </div>
            </div>
            </md-subheader>
          <md-list-item class="item-size" ng-click="navigateTo('data usage', $event)">
            <p> Novo documento</p>
            <md-button class="md-icon-button" ng-click="createDoc(folder.documents)" aria-label="More">
              <i class="material-icons item-icon">add</i>
              <md-tooltip>Adicionar um documento</md-tooltip>
            </md-button>
          </md-list-item>

          <md-divider></md-divider>

          <md-list-item class="item-size" ng-click="navigateTo('data usage', $event)" ng-repeat="document in folder.documents">
            <i class="material-icons item-icon">insert_drive_file</i>
            <p> {{ document.name }}.{{ document.format }}</p>
          </md-list-item>
    </md-content>

    </md-sidenav>

    <div layout="column" tabIndex="-1" role="main" flex>
      <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">

        <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">
          <md-button class="md-icon-button" ng-click="openMenu()" hide-gt-sm aria-label="Toggle Menu">
              <i class="material-icons">dehaze</i>
          </md-button>
          <div layout="row" flex class="fill-height">
            <h2 class="md-toolbar-item md-breadcrumb md-headline">
              <span ng-if="menu.currentPage.name !== menu.currentSection.name">
                <span class="docs-menu-separator-icon" hide-sm hide-md style="transform: translate3d(0, 1px, 0)">
                  <span class="_md-visually-hidden">-</span>
                </span>
              </span>
              <span class="md-breadcrumb-page">Scribe - Text Manager</span>
            </h2>

            <span flex></span> <!-- use up the empty space -->

          </div>
        </div>

      </md-toolbar>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Modules -->
    <script src="js/modules/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/controller.js"></script>

    <!-- Directives -->
    <script src='js/directives/appInfo.js'></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="js/home.js"></script>

  </body>
</html>
