@font-face 
{
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto.woff') format('woff'), /* Modern Browsers */
  url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.top-bar
{
	background-color: #0a3b5c;
	color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.top-bar .md-button:not([disabled]):hover 
{
  background-color: #0e5381;
}

.page-content
{
	font-family: 'Roboto';
	font-size: 120%;
	font-weight: 200;

	text-overflow: ellipsis;
	color: #4d4d4d;
}

.page-content .button-border
{
  background-color: #0a3b5c;
  color: white;
  font-weight: bold;
  left: 30%;
}

.page-content .button-border:not([disabled]):hover 
{
  background-color: #0e5381;
  font-weight: bold;
}

.page-content .button-noborder
{
  color: #0a3b5c;
  font-weight: normal;
  left: 24%;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input 
{
    border-color: #0a3b5c;
    color: #0a3b5c;
}