.scroll-view {
  overflow: scroll;
}

.no-border {
  border: none;
  max-width: 628px;
  min-height: 1123px;
  box-sizing: border-box;
  resize: none;
}

.input-name {
  border: none;
  background: #f6f6f6 !important;
  color: rgb(16,108,200);
  resize: none;
  height: 30px;
}
