.message {
    display: block;
    background-color: white;
    padding: 10px;

    &:nth-child(even) { background-color: #f1f1f1; }

    > .message-header {
        .sender, .date {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 0.9em;
            color: rgb(115,115,115);
        }

        .sender { float: left; }
        .date { float: right }
    }

    > .message-body {
        margin-top: 25px;
        color: gray;
    }
}
