<div id="pagination">
	<span class="pagination-item" ng-repeat="item in pagination track by $index">
		<a ng-click="setPagination($index)">
			{{ item.name }}
			<i class="material-icons" ng-if="showArrow($index)">keyboard_arrow_down</i>
		</a>
		<i class="material-icons" ng-if="!showArrow($index)">keyboard_arrow_right</i>
	</span>
</div>

<!-- container do drive -->
<div id="drive" class="panel">

	<!-- header da lista de arquivos -->
	<span class="mdl-grid drive-item drive-item-header">
		<span ng-repeat="property in gridHeaderDrive" class="mdl-cell mdl-cell--{{ property.col }}-col">
			<i class="material-icons">{{ property.icon }}</i>
			{{ property.name }}
		</span>
	</span>

	<!-- lista de arquivos dentro da pasta atual sendo visitada -->
	<span class="mdl-grid drive-item" ng-repeat="item in contents track by $index">
		<span class="mdl-cell mdl-cell--5-col" ng-click="fileAction(item)">
			<i class="material-icons">{{ getIcon(item) }}</i>
			{{ item.name }}
		</span>
		<span class="mdl-cell mdl-cell--5-col">{{ item.updated_at | date}}</span>
		<span class="mdl-cell mdl-cell--2-col">
				<a ng-click="shareFileDialog($event, item)" ng-show="item.type === 'file'">
					<span><i class="material-icons">share</i></span>
					<md-tooltip>Compartilhar</md-tooltip>
				</a>
				<a ng-click="renameItemDialog($event, item)" >
					<span ><i class="material-icons">edit</i></span>
					<md-tooltip>Renomear</md-tooltip>
				</a>
		</span>
	</span>

</div>

<div class="mdl-button__footer">
	<button class="mdl-button mdl-button--fab mdl-button--primary mdl-button_ofleft" ng-click="createFileDialog($event)">
  	<i class="material-icons">note_add</i>
  </button>
  <button class="mdl-button mdl-button--fab mdl-button--primary" ng-click="createFolderDialog($event)">
  	<i class="material-icons">create_new_folder</i>
  </button>
</div>
