<div id="pagination">
	<span class="pagination-item" ng-repeat="item in pagination">
		<a ng-click="setCurrentFolder($index)">
			{{ item.name }}
			<i class="material-icons" ng-show="showArrow($index)">keyboard_arrow_down</i>
		</a>
		<i class="material-icons" ng-show="!showArrow($index)">keyboard_arrow_right</i>
	</span>
</div>

<!-- container do drive -->
<div id="drive" class="panel">

	<!-- header da lista de arquivos -->
	<span class="mdl-grid drive-item drive-item-header">

		<span ng-repeat="property in gridHeader" class="mdl-cell mdl-cell--{{ property.col }}-col">
			<i class="material-icons">{{ property.icon }}</i>
			{{ property.name }}
		</span>
	</span>

	<!-- lista de arquivos dentro da pasta atual sendo visitada -->
	<span class="mdl-grid drive-item" ng-repeat="item in contents">
		<span class="mdl-cell mdl-cell--5-col" ng-click="fileAction(item)">
			<i class="material-icons">{{ getIcon(item) }}</i>
			{{ item.name }}
		</span>
		<span class="mdl-cell mdl-cell--2-col">{{ item.owner }}</span>
		<span class="mdl-cell mdl-cell--3-col">{{ item.update | date}}</span>
		<span class="mdl-cell mdl-cell--2-col">{{ item.size }}</span>
	</span>

</div>
