<!-- menu principal -->
<div class="submenu">

	<!-- título do menu principal -->
    <h6>{{ header }}</h6>

	<!-- lista de opções do menu principal -->
    <ul>
        <li ng-repeat="link in links">

			<!-- wrapper para adicionar client-side routes se necessário, e
			adicionar .active, pois o escopo do ng-repeat não abrange o li -->
            <a
			ng-class="{active : checkMainTab($index)}"
			ng-click="setMainTab($index)">

				<!-- atributos do link -->
                <i class="material-icons" >{{ link.icon }}</i>
                {{ link.name }}

            </a>

        </li>
    </ul>

</div>
