<div id="pagination-share">
	<span class="pagination-item">
		<a href="">
			Arquivos Compartilhados
			<i class="material-icons">keyboard_arrow_down</i>
		</a>
	</span>
</div>

<!-- container do drive -->
<div id="drive" class="panel">

	<!-- header da lista de arquivos -->
	<span class="mdl-grid drive-item drive-item-header">
		<span ng-repeat="property in gridHeaderShare" class="mdl-cell mdl-cell--{{ property.col }}-col">
			<i class="material-icons">{{ property.icon }}</i>
			{{ property.name }}
		</span>
	</span>

	<!-- lista de arquivos dentro da pasta atual sendo visitada -->
	<span class="mdl-grid drive-item" ng-repeat="item in sharedContents track by $index">
		<span class="mdl-cell mdl-cell--2-col" ng-click="openDocument(item)">
			<i class="material-icons">insert_drive_file</i>
			{{ item.name }}
		</span>
		<span class="mdl-cell mdl-cell--3-col">{{ item.owner }}</span>
		<span class="mdl-cell mdl-cell--4-col">{{ item.created_at | date }}</span>
		<span class="mdl-cell mdl-cell--3-col">{{ item.permission }}</span>
	</span>

</div>
