<md-dialog aria-label="Compartilhar">
  <form>
    <h5 class="dialog-title">Compartilhar</h5>
    <md-dialog-content>
      <div class="md-dialog-content dialog-box">
        <p>
          Insira o e-mail da pessoa com quem deseja compartilhar o arquivo.
        </p>

        <md-input-container class="md-block">
          <label>Email</label>
          <input required id="friend-email" ng-pattern="/^.+@.+\..+$/" />
        </md-input-container>

        <label>Permissões</label>
        <md-divider></md-divider>
        <md-list>
          <md-list-item>
            <p>Pode editar o documento</p>
            <md-checkbox ng-click="clickCheckBox()" ></md-checkbox>
          </md-list-item>
          <md-list-item>
            <p>Pode visualizar o documento</p>
            <md-checkbox ng-click="" ng-disabled="true" ng-checked="true"></md-checkbox>
          </md-list-item>
        </md-list>
        <md-divider></md-divider>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-primary" ng-click="cancel()">
        Cancelar
      </md-button>
      <span flex></span>
      <md-button ng-disabled="validateFields()" class="md-primary" ng-click="answer()">
        Compartilhar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
