<div id="pagination-trash">
	<span class="pagination-item">
		<a href="">
			Arquivos Excluídos
			<i class="material-icons">keyboard_arrow_down</i>
		</a>
	</span>
</div>

<div class="panel">
	<span class="mdl-grid drive-item drive-item-header">
			<button ng-click="deleteFiles()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
				<i class="material-icons">delete_forever</i>
				Excluir permanentemente os arquivos selecionados
			</button>
	</span>
</div>

<!-- container do drive -->
<div id="drive" class="panel row">

	<!-- header da lista de arquivos -->
	<span class="mdl-grid drive-item drive-item-header">
		<span ng-repeat="property in gridHeaderTrash" class="mdl-cell mdl-cell--{{ property.col }}-col">
			<i class="material-icons">{{ property.icon }}</i>
			{{ property.name }}
		</span>
	</span>

	<span class="mdl-grid drive-item" ng-repeat="item in getDeletedFiles() track by $index" multiple-selection-item ng-class="{'selecting': isSelecting ,'selected': isSelected}">
		<span class="mdl-cell mdl-cell--7-col">
			<i class="material-icons">insert_drive_file</i>
			{{ item.name }}
		</span>
		<span class="mdl-cell mdl-cell--5-col">{{ item.updated_at | date}}</span>
	</span>

</div>
