<div layout="column" tabIndex="-1" role="main" flex ng-controller="DriveController as driveCtrl">

  <!-- folder's pagination -->
  <folder-pagination></folder-pagination>

  <!-- renders the current folder files -->
  <drive-files></drive-files>

</div>
